[submodule "lib/accelerate"]
	path = lib/accelerate
	url = https://github.com/huggingface/accelerate.git
	branch = main
[submodule "lib/datasets"]
	path = lib/datasets
	url = https://github.com/huggingface/datasets.git
	branch = main
[submodule "lib/transformers"]
	path = lib/transformers
	url = https://github.com/huggingface/transformers.git
	branch = main
[submodule "lib/tokenizers"]
	path = lib/tokenizers
	url = https://github.com/huggingface/tokenizers.git
	branch = main
[submodule "lib/jupyterlab"]
	path = lib/jupyterlab
	url = https://github.com/jupyterlab/jupyterlab.git
[submodule "lib/qalugo"]
	path = lib/qalugo
	url = https://github.com/quantapix/qalugo.git
	branch = main
