[submodule "tensorflow/upstream"]
	path = tensorflow/upstream
	url = https://github.com/tensorflow/tensorflow.git
[submodule "tensorflow/tensorboard"]
	path = tensorflow/tensorboard
	url = https://github.com/tensorflow/tensorboard.git
[submodule "tensorflow/lingvo"]
	path = tensorflow/lingvo
	url = https://github.com/tensorflow/lingvo.git
[submodule "tensorflow/probability"]
	path = tensorflow/probability
	url = https://github.com/tensorflow/probability.git
[submodule "tensor2tensor/upstream"]
	path = tensor2tensor/upstream
	url = https://github.com/tensorflow/tensor2tensor.git
[submodule "tensorflow/bazel"]
	path = tensorflow/bazel
	url = https://github.com/bazelbuild/bazel.git
[submodule "tensorflow/docs"]
	path = tensorflow/docs
	url = https://github.com/tensorflow/docs.git
