[submodule "lib/tokenizers"]
	path = lib/tokenizers
	url = https://github.com/huggingface/tokenizers.git
	branch = main
[submodule "lib/llama"]
	path = lib/llama
	url = https://github.com/facebookresearch/llama.git
	branch = main
[submodule "lib/llama.cpp"]
	path = lib/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "lib/triton"]
	path = lib/triton
	url = https://github.com/openai/triton.git
	branch = main
[submodule "lib/llvm-project"]
	path = lib/llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = main
[submodule "lib/rust"]
	path = lib/rust
	url = https://github.com/rust-lang/rust.git
[submodule "lib/rust-analyzer"]
	path = lib/rust-analyzer
	url = https://github.com/rust-lang/rust-analyzer.git
[submodule "lib/async-book"]
	path = lib/async-book
	url = https://github.com/rust-lang/async-book.git
