
{% extends "qnarre/frame.html" %}

{% block frame_content %}
    <div class="container-fluid">
	<form class="form-signin" method="post">
	    {% csrf_token %}
            <h2 class="form-signin-heading">Password change</h2>
	    {% if form.errors %}
		<p class="errornote">Please correct the error(s) below.</p>
	    {% endif %}
            <input type="password" name="old_password" id="id_old_password"
		   class="form-control" placeholder="Old password" required autofocus>
            <input type="password" name="new_password1" id="id_new_password1"
		   class="form-control" placeholder="New password" required>
	    {% if form.new_password1.help_text %}
		<div class="help">{{ form.new_password1.help_text|safe }}</div>
	    {% endif %}
            <input type="password" name="new_password2" id="id_new_password2"
		   class="form-control" placeholder="New password confirmation" required>
	    {% if form.new_password2.help_text %}
		<div class="help">{{ form.new_password2.help_text|safe }}</div>
	    {% endif %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">
		Change my password
	    </button>
	</form>
    </div>
{% endblock %}
