
{% extends "qnarre/base.html" %}

{% block base_content %}
    <div class="container mx-3">
	      <div class="row">
            <div class="col-sm-3 story-left-bar px-0">
		            {% include "qnarre/left-bar.html" %}
            </div>
            <div class="col-sm-8 story-main">
		            {% if parts %}
		                {% for part in parts %}
			                  {% if not part.hide %}
			                      {% include subtemplate %}
			                  {% endif %}
		                {% endfor %}
		            {% elif part %}
		                {% include subtemplate %}
		            {% endif %}
	          </div>
            <div class="col-sm-1 story-blank px-0">
            </div>
	      </div>
    </div>
{% endblock %}
